.contain{
    padding-top: 50px;
    text-align: center; 
   
    
}
.date{
    display: inline;
    
}
.btn{
    margin-top: 10px;
}
body{
 background-image: url(img/zodiac.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
}
h1{
    font-family: 'Rye', cursive;   
    color: #656F72
}

img{
    
    height: 370px;
    width: 100%;
    padding-top: 30px;
}
#foo{
    width: 35%;
    margin: 0 auto;
}

@media screen and (max-width: 1000px ){
    img{
    height: 300px;
    }
}

@media screen and (max-width: 900px ){
    img{
    height: 250px;
    }
}

@media screen and (max-width: 800px ){
    img{
    height: 220px;
    }
}

@media screen and (max-width: 750px ){
    img{
    height: 180px;
    }
}

@media screen and (max-width: 680px ){
    img{
    height: 140px;
    }
}